@model RespostaConvidadoViewModel
<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
        <h2>Obrigado, @Model?.Nome!</h2>
        <div>
            @if (@Model.Presenca == true)
            {
                <p>Que bom irá participar. Contamos com você!</p>
            }
            else
            {
                <p>Que pena que não poderá participar, mas obrigado por nos avisar!</p>
            }
        </div>
    </div>
</div>

