@model RespostaConvidadoViewModel

<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Formulário de confirmação de presença</h4></div>
    <div class="panel-body">
        <form method="post">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="Nome">Nome:</label>
                    <input class="form-control" type="text" asp-for="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Email">Email:</label>
                    <input class="form-control" type="text" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="Telefone">Telefone:</label>
                    <input class="form-control" type="text" asp-for="Telefone" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Presenca">Estará presente?</label>
                    <select class="form-control" asp-for="Presenca">
                        <option value="">Escolha uma opção</option>
                        <option value="true">Sim, eu vou!</option>
                        <option value="false">Não, eu não poderei ir.</option>
                    </select>
                    <span asp-validation-for="Presenca" class="text-danger"></span>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit" asp-controller="Home" asp-action="Confirmar">Confirmar</button>
            </div>
        </form>
            </div>
</div>