<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
        <h2>Baile de 50 anos do Prodest</h2>
        <p>
            Participe da confraternização de 50 anos do Prodest. Traga sua comida e sua bebida e participe conosco.
        </p>
    </div>

    <div class="text-center">
        <a class="btn btn-success" asp-controller="Home" asp-action="Formulario">Confirme sua presença aqui</a>
    </div>
</div>
