<div class="panel panel-success">
    <div class="panel-heading text-center"><h4>Baile de 50 anos do PRODEST</h4></div>
    <div class="panel-body">
        <h3>Onde será?</h3>
        <p>Av. João Batista Parra, 465 - Praia do Suá, CEP: 29050-925 - Vitória / ES</p>
        <h3>Quando será?</h3>
        <p>A festá acontecerá no dia 20 de novembro a partir das 20:00</p>
        <h3>Devo levar algo?</h3>
        <p>Sim, você deve trazer seus comes e bebes</p>
    </div>
</div>

