<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css//bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Início</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Formulario">Confirmação</a></li>
                    <li><a asp-controller="Home" asp-action="ListaPresentes">Lista de Confirmados</a></li>
                    <li><a asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                </ul>
            </div>
        </nav>

        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-mask/dist/jquery.mask.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>